.details-btn {
  &:focus {
    text-decoration: underline transparent;
  }
}

.quantity-form {
  &__action-btn {
    &:focus {
      box-shadow: inset $box-shadow;

      .quantity-form__icon {
        fill: $accent-color;
      }
    }
  }
}

.default-btn {
  &:focus {
    color: $accent-color;
    background-color: $action-color;

    &::before {
      filter: invert(57%) sepia(56%) saturate(4254%) hue-rotate(337deg)
        brightness(102%) contrast(101%);
    }
  }
}

.input-style {
  &:focus {
    border-color: transparent;
  }
}

.actions {
  &__btn {
    &:focus {
      background-color: $action-color;
    }
  }
}

.popular {
  &__category-btn {
    &:focus {
      box-shadow: $box-shadow;
    }
  }

  &__btn {
    &:focus {
      text-decoration: transparent;
    }
  }
}

.restaurant-card {
  &__link {
    &:focus {
      .restaurant-card__link-icon {
        fill: $accent-color;
      }
    }
  }
}

.checkbox-label {
  .checkbox {
    &:focus + .fake-checkbox {
      border-color: $accent-color;
    }
  }
}

.price-filter {
  &__input {
    &:focus {
      @extend %border-focus;
    }
  }
}

.pagination {
  &__link {
    &:focus {
      border: none;
      box-shadow: $shadow-size $accent-color;
    }
  }
}

.subscrip-form {
  &__btn {
    &:focus {
      .subscrip-form__btn-icon {
        fill: $accent-color;
      }
    }
  }
}

.quantity-form {
  &__action-btn {
    &--no-active {
      &:focus {
        box-shadow: none;
        background-color: $accent-color;

        .quantity-form__action-icon {
          fill: #fff;
        }
      }
    }
  }

  &__form-btn {
    &:focus {
      .quantity-form__btn-icon {
        stroke: $accent-color;
      }
    }
  }
}

.slider-nav {
  &__btn {
    &:focus {
      box-shadow: $box-shadow;
    }
  }
}

.slider-dots {
  button {
    &:focus {
      box-shadow: $shadow-size $accent-color;
    }
  }
}

.social-media {
  &__link {
    &:focus {
      box-shadow: $box-shadow;
      background-color: $action-color-2;
    }
  }
}
