@media (hover: hover) {
  %style-hover-focus {
    &:hover {
      color: $accent-color;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    &:hover {
      filter: $accent-filter;
    }
  }

  .details-btn {
    &:hover {
      text-decoration: underline transparent;
    }
  }

  .default-btn {
    &:hover {
      box-shadow: $box-shadow, 0 5px 12px 0 rgba($accent-color, 0.2);
      background-color: transparent;
    }
  }

  .input-style {
    &:hover {
      &::placeholder {
        color: $main-color;
      }
    }
  }

  .logo {
    &:hover {
      opacity: 0.8;
    }
  }

  .actions {
    &__btn {
      &:hover {
        background-color: $accent-color;

        .actions__icon {
          stroke: $btn-inner-color;
        }

        .actions__counter {
          color: $accent-color;
          background-color: $btn-inner-color;
        }
      }
    }
  }

  .popular {
    &__category-btn,
    &__category-btn.mixitup-control-active {
      &:hover {
        color: $accent-color;
        background-color: $action-color;
        box-shadow: $box-shadow;

        .categories-filter__icon {
          fill: $accent-color;
        }
      }
    }

    &__btn {
      &:hover {
        text-decoration: transparent;
      }
    }
  }

  .product-card {
    &:hover {
      box-shadow: 0 0 0 1px $accent-color;
    }
  }

  .restaurant-card {
    &:hover {
      box-shadow: 0 3px 15px 0 rgba($accent-color, 0.5);
    }
    &__link {
      &:hover {
        .restaurant-card__link-icon {
          fill: $accent-color;
        }
      }
    }
  }

  .sort-filter {
    .jq-selectbox {
      &.opened {
        .jq-selectbox__select {
          &:hover {
            border-color: $accent-color;
          }
        }
      }

      &__select {
        &:hover {
          border-color: $accent-color;
          color: $accent-color;

          .jq-selectbox__trigger-arrow {
            &::before {
              filter: invert(40%) sepia(100%) saturate(423%) hue-rotate(327deg)
                brightness(107%) contrast(105%);
            }
          }
        }
      }

      li.sel,
      li {
        &:hover {
          background-color: rgba($accent-color, 0.2);
          color: $text-color;
        }
      }
    }
  }

  .checkbox-label {
    &:hover {
      color: $accent-color;
    }

    .checkbox {
      &:hover + .fake-checkbox {
        border-color: $accent-color;

        //Неиспользовала миксин потому то с ним не срабатывает транзишн-фильтр почему-то
        &::before {
          filter: invert(48%) sepia(37%) saturate(1300%) hue-rotate(330deg)
            brightness(103%) contrast(104%);
        }
      }
    }
  }

  .pagination {
    &__link {
      &:hover {
        color: $btn-inner-color;
        background-color: $accent-color;

        .pagination__arrow {
          fill: $btn-inner-color;
        }
      }
    }
  }

  .subscrip-form {
    &__btn {
      &:hover {
        .subscrip-form__btn-icon {
          fill: $accent-color;
        }
      }
    }
  }

  .quantity-form {
    &__action-btn {
      &:hover {
        box-shadow: inset $box-shadow;

        .quantity-form__action-icon {
          fill: $accent-color;
        }
      }
    }

    &__form-btn {
      &:hover {
        .quantity-form__btn-icon {
          stroke: $accent-color;
        }
      }
    }
  }

  .slider-nav {
    &__btn {
      &:hover {
        background-color: $action-color-2;
        border: 3px solid $action-color-3;

        .slider-nav__arrow {
          fill: $action-color-3;
        }
      }
    }
  }

  .slider-dots {
    button {
      &:hover {
        box-shadow: $shadow-size rgba($fill-color, 0.7);
        background-color: $action-color-2;
      }
    }
  }

  .social-media {
    &__link {
      &:hover {
        box-shadow: transparent;
        background-color: $accent-color;

        .social-media__icon {
          fill: $btn-inner-color;
        }
      }
    }
  }
}
