@media (hover: hover) {
  %style-hover-focus {
    &:hover {
      color: $accent-color;
    }
  }

  .default-btn {
    &:hover {
      box-shadow: $box-shadow, 0 5px 12px 0 rgba($accent-color, 0.2);
      background-color: transparent;
    }
  }

  .logo {
    &:hover {
      opacity: 0.8;
    }
  }

  .actions {
    &__btn {
      &:hover {
        background-color: $accent-color;

        .actions__icon {
          stroke: $btn-inner-color;
        }

        .actions__counter {
          color: $accent-color;
          background-color: $btn-inner-color;
        }
      }
    }
  }

  .hero {
    &__link-details {
      &:hover {
        text-decoration: transparent;
      }
    }
  }

  .popular {
    &__btn {
      &:hover {
        text-decoration: transparent;
      }
    }
  }

  .category-btn {
    &:hover {
      color: $accent-color;
      background-color: $action-color;
      box-shadow: $box-shadow;

      .category-btn__icon {
        filter: invert(48%) sepia(78%) saturate(1926%) hue-rotate(337deg)
          brightness(103%) contrast(101%);
      }
    }
  }

  .product-card {
    &:hover {
      box-shadow: 0 0 0 1px $accent-color;
    }
  }

  .restaurant-card {
    &:hover {
      box-shadow: 0 3px 15px 0 rgba($accent-color, 0.5);
    }
    &__link {
      &:hover {
        .restaurant-card__link-icon {
          fill: $accent-color;
        }
      }
    }
  }

  .reviews {
    &__btn {
      &:hover {
        background-color: $action-color-2;
        border: 3px solid $action-color-3;

        .reviews__arrow {
          fill: $action-color-3;
        }
      }
    }

    &__slider-dots {
      button {
        &:hover {
          box-shadow: $shadow-size rgba($fill-color, 0.7);
        }
      }
    }
  }

  .subscrip-form {
    &__input {
      &:hover {
        &::placeholder {
          color: $main-color;
        }
      }
    }

    &__btn {
      &:hover {
        .subscrip-form__btn-icon {
          fill: $accent-color;
        }
      }
    }
  }

  .social-media {
    &__link {
      &:hover {
        box-shadow: transparent;
        background-color: $accent-color;

        .social-media__icon {
          fill: $btn-inner-color;
        }
      }
    }
  }
}
