html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  padding: 0;
  font: inherit;
  color: inherit;
  border: none;
}

a,
input,
button,
textarea {
  outline: transparent;
}

textarea {
  resize: none;
}

button {
  display: inline-block;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

address,
cite {
  font-style: normal;
}

svg {
  display: block;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.rating {
  padding: 0;
}
