@import "vars";
@import "fonts";
@import "reset";
@import "global";

.logo {
  @extend %style-focus;
  transition: box-shadow 0.3s linear, opacity 0.3s linear;

  &__img {
    width: 200px;
    height: 39px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.header {
  padding-top: 159px;

  &__inner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 57px 0;
    transition: box-shadow 0.3s linear, padding 0.3s linear;

    &--mini {
      padding: 20px;
      box-shadow: 0px 0px 30px 10px rgba(255, 104, 56, 0.5);
      box-shadow: 0px 0px 20px 5px rgba(255, 104, 56, 0.5);
      background-color: rgba(249, 250, 255, 0.5);
      backdrop-filter: blur(20px);
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    gap: 45px;
    margin: 0 63px 0 auto;
  }

  &__link {
    display: block;
    font-size: 18px;
    line-height: normal;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__actions-link {
    @extend %style-focus;
    position: relative;
    display: block;
    padding: 13px;
    transition: stroke 0.3s linear, background-color 0.3s linear,
      box-shadow 0.3s linear;

    &:focus {
      background-color: $action-bg-color;
    }

    &:hover {
      background-color: $accent-color;

      .menu__actions-counter {
        color: $accent-color;
        background-color: $btn-inner-color;
      }

      .menu__actions-use {
        stroke: $btn-inner-color;
      }
    }

    &:active {
      background-color: $action-bg-color;
      box-shadow: none;

      .menu__actions-counter {
        color: $btn-inner-color;
        stroke: $btn-inner-color;
        background-color: $accent-color;
      }

      .menu__actions-use {
        stroke: $main-color;
      }
    }
  }

  &__actions-icon {
    display: block;
  }

  &__actions-use {
    stroke: $main-color;
  }

  &__actions-counter {
    position: absolute;
    right: 6px;
    top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    font-size: 10px;
    line-height: 1;
    color: $btn-inner-color;
    background-color: $accent-color;
    border-radius: 50%;
  }
}

.hero {
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 159px);
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
  }

  &__title {
    max-width: 450px;
    font-size: 66px;
    text-transform: uppercase;
    font-family: "Rubik";
    font-weight: 500;
    color: $main-color;

    &-style {
      display: block;
      color: $accent-color;
    }
  }

  &__text {
    max-width: 450px;
    margin-bottom: 20px;
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__link-order {
    padding: 12px 32px;
    margin-right: 34px;
    font-size: 18px;
    letter-spacing: 0.03em;
  }

  &__link-details {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: $main-color;

    &:hover,
    &:focus {
      text-decoration: transparent;
    }

    &:active {
      color: $main-color;
    }
  }
}

.popular {
  &__title {
    margin-bottom: 60px;
  }

  &__category-list {
    display: flex;
    gap: 20px;
    margin-bottom: 45px;
  }

  &__category-use {
    fill: $main-color;
    transition: fill 0.4s linear;
  }

  &__category-btn,
  &__content-link {
    border-radius: 5px;
    box-shadow: 0 0 0 1px $decor-color-2;
    background-color: $btn-inner-color;
  }

  &__category-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13px 32px;
    font-size: 20px;
    line-height: 1.3;
    color: $main-color;
    transition: color 0.3s linear, background-color 0.3s linear,
      box-shadow 0.3s linear;

    &.mixitup-control-active {
      color: $btn-inner-color;
      background-color: $accent-color;
      box-shadow: transparent;

      .popular__category-use {
        fill: $btn-inner-color;
      }
    }
    &:hover {
      color: $accent-color;
      background-color: $action-bg-color;
      box-shadow: $box-shadow;

      .popular__category-use {
        fill: $accent-color;
      }
    }

    &:focus {
      box-shadow: $box-shadow;
    }

    &:active {
      color: $main-color;
      background-color: $btn-inner-color;
      box-shadow: inset 0 -5px 12px 0 rgba(255, 104, 56, 0.2);

      .popular__category-use {
        fill: $main-color;
      }
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;

    //-------------------------------------------------------------<
    // &-item {
    //   width: 210px;
    //  padding: 20px 15px;
    // }

    // &-img {
    //   width: 140px;
    //   height: 140px;
    //   margin-bottom: 10px;
    //   object-fit: cover;
    // }

    // &-name {
    //   font-weight: 400;
    //   font-size: 15px;
    //   line-height: normal;
    //   text-align: center;
    // }

    // нельзя так писать? А то писала миллион раз слово контент=)
    //-----------------------------------------------------------<
  }

  &__content-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    height: 100%;
    padding: 20px 15px;
    transition: box-shadow 0.3s linear;

    &:hover {
      box-shadow: 0 0 0 1px $accent-color;
    }
  }

  &__content-img {
    width: 140px;
    height: 140px;
    margin-bottom: 10px;
    object-fit: cover;
  }

  &__content-name {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: normal;
    text-align: center;
  }

  &__content-price {
    margin-top: auto;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    color: $main-color;
  }

  &__content-btn {
    padding: 7px 16px;
    font-size: 14px;
    line-height: 1.3;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    color: $main-color;
    text-decoration: underline;
    text-decoration-skip-ink: none;

    &:hover,
    &:focus {
      text-decoration: transparent;
    }

    &:active {
      color: $main-color;
    }
  }
}

.footer {
  padding-top: 120px;
  line-height: 1.3;

  &__content-list {
    display: flex;
    gap: 70px;
    margin-bottom: 60px;
  }

  &__content-item {
    &--position {
      display: flex;
      flex-direction: column;
    }
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__input {
    padding: 12px 14px;
    margin-bottom: 12px;
    font-size: 14px;
    border: 1px solid $decor-color-1;
    @extend %style-focus;
    transition: border-color 0.3s linear, border 0.3s linear,
      box-shadow 0.3s linear;

    &::placeholder {
      color: $decor-color-1;
      transition: color 0.3s linear;
    }

    &:focus {
      border-color: transparent;
    }

    &:hover {
      border: 1px solid $decor-color-1;

      &::placeholder {
        color: $main-color;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 13px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0;

    &:hover {
      .footer__svg-use {
        fill: $accent-color;
      }
    }

    &:focus {
      .footer__svg-use {
        fill: $accent-color;
      }
    }
  }

  &__svg {
    margin-right: 15px;
  }

  &__svg-use {
    fill: $btn-inner-color;
  }

  &__menu-item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__menu-link {
    display: block;
    font-size: 18px;
    letter-spacing: 0.01em;
  }

  &__contacts-item {
    margin-bottom: 15px;
  }

  &__contacts-link {
    display: block;
    padding-left: 31px;
    font-style: normal;
    font-size: 16px;
    line-height: 2;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: left center;

    &--address {
      background-image: url("../images/icons/location-icon.svg");
    }

    &--tel {
      background-image: url("../images/icons/phone-icon.svg");
    }

    &--email {
      background-image: url("../images/icons/email-icon.svg");
    }
  }

  &__social-list {
    display: flex;
  }

  &__social-item:not(:last-child) {
    margin-right: 13px;
  }

  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: $decor-color-2;
    transition: background-color 0.3s linear, box-shadow 0.3s linear,
      fill 0.4s linear;

    &:focus {
      box-shadow: $box-shadow;
      background-color: $action-bg-color;
    }

    &:hover {
      box-shadow: transparent;
      background-color: $accent-color;

      .footer__social-icon {
        fill: $btn-inner-color;
      }
    }

    &:active {
      box-shadow: none;
      background-color: $action-bg-color;

      .footer__social-icon {
        fill: #ff7a50;
      }
    }
  }

  &__bottom {
    border-top: 1px solid $decor-color-1;
  }

  &__copy {
    padding: 30px 0;
    font-size: 14px;
    line-height: 1;
    text-align: center;
  }
}

@import "media";
