# Ignore all HTML files:
app/html/index.html
app/html/catalog.html
app/html/components/_head.html
app/html/components/_header.html
app/html/components/_popular.html
app/html/components/_footer-scripts.html