<ul class="@elemClass food-list">
  <li class="food-list__item mix category-b">
    @include("_product-card.html", { 
      "nameImage": "lettuce-burger",
      "productName": "Чизбургер с листьями салата", 
      "productLink": "product.html",
      "productPrice" : "160", 
    })
  </li>
  <li class="food-list__item mix category-a">
    @include("_product-card.html", { 
      "nameImage": "beefburger",
      "productName": "Бифбургер", 
      "productLink": "#",
      "productPrice" : "190", 
    })
  </li>
  <li class="food-list__item mix category-b">
    @include("_product-card.html", { 
      "nameImage": "king-burger",
      "productName": "Королевский чизбургер", 
      "productLink": "#",
      "productPrice" : "260", 
    })
  </li>
  <li class="food-list__item mix category-a">
    @include("_product-card.html", { 
      "nameImage": "black-burger",
      "productName": "Черный гамбургер", 
      "productLink": "#",
      "productPrice" : "199", 
    })
  </li>
  <li class="food-list__item mix category-c">
    @include("_product-card.html", { 
      "nameImage": "chicken-burger",
      "productName": "Чикен бургер", 
      "productLink": "#",
      "productPrice" : "180", 
    })
  </li>
  <li class="food-list__item mix category-c">
    @include("_product-card.html", { 
      "nameImage": "lettuce-burger",
      "productName": "Чизбургер с листьями салата", 
      "productLink": "product.html",
      "productPrice" : "160", 
    })
  </li>
  <li class="food-list__item mix category-d">
    @include("_product-card.html", { 
      "nameImage": "beefburger",
      "productName": "Бифбургер", 
      "productLink": "#",
      "productPrice" : "190", 
    })
  </li>
  <li class="food-list__item mix category-d">
    @include("_product-card.html", { 
      "nameImage": "king-burger",
      "productName": "Королевский чизбургер", 
      "productLink": "#",
      "productPrice" : "260", 
    })
  </li>
  <li class="food-list__item mix category-d">
    @include("_product-card.html", { 
      "nameImage": "black-burger",
      "productName": "Черный гамбургер",
      "productLink": "#", 
      "productPrice" : "199", 
    })
  </li>
  <li class="food-list__item mix category-a">
    @include("_product-card.html", { 
      "nameImage": "chicken-burger",
      "productName": "Чикен бургер", 
      "productLink": "#",
      "productPrice" : "180", 
    })
  </li>
</ul>