<form class="quantity-form @elemClass" action="#" name="quantity-form">
  <div class="quantity-form__inner">
    <button
      class="quantity-form__action-btn quantity-form__action-btn--prev default-btn"
      type="button"
      aria-label="Уменьшить количество"
    >
      <svg class="quantity-form__action-icon quantity-form__action-icon--minus">
        <use href="images/sprite.svg#minus-icon"></use>
      </svg>
    </button>
    <label for="quantity" aria-label="Количество продукта"></label>
    <input
      class="quantity-form__input input-bg input-text"
      id="quantity"
      type="text"
      name="quantity"
      value="1"
      disabled
    />
    <button
      class="quantity-form__action-btn quantity-form__action-btn--next default-btn"
      type="button"
      aria-label="Увеличить количество"
    >
      <svg class="quantity-form__action-icon quantity-form__action-icon--plus">
        <use href="images/sprite.svg#plus-icon"></use>
      </svg>
    </button>
  </div>
  <button
    class="quantity-form__form-btn default-btn default-btn--icon"
    type="submit"
  >
    <svg class="quantity-form__btn-icon default-btn-icon">
      <use href="images/sprite.svg#cart-icon"></use>
    </svg>
    Добавить в корзину
  </button>
</form>
