.dish-reviews {
  &__comment {
    padding-bottom: 20px;
    border-bottom: 1px solid $border-color;
    margin-bottom: 25px;

    @include mq("phone") {
      padding-bottom: 15px;
      margin-bottom: 15px;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}
