@import "subscrip-form";

@import "contact-info";

@import "social-media";

.footer {
  padding-top: 60px;
  line-height: 1.3;

  @include mq("phone") {
    padding-top: 20px;
  }

  &__inner {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    align-items: start;
    column-gap: 70px;
    margin-bottom: 60px;

    @include mq("desktop") {
      grid-template-columns: auto 1fr;
      grid-template-rows: repeat(2, auto);
      column-gap: 40px;
      row-gap: 30px;
    }

    @include mq("tablet-2") {
      row-gap: 50px;
    }

    @include mq("tablet") {
      column-gap: 40px;
      row-gap: 30px;
      margin-bottom: 40px;
    }

    @include mq("phone") {
      grid-template-columns: auto;
      justify-items: start;
      row-gap: 20px;
      margin-bottom: 40px;
    }
  }

  &__logo-form {
    @include mq("desktop") {
      grid-row: span 2;
    }

    @include mq("tablet-2") {
      grid-row: 1;
    }

    @include mq("phone") {
      margin-bottom: 4px;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    align-items: start;
    gap: 20px;

    @include mq("desktop") {
      grid-template-columns: repeat(4, auto);
      gap: 15px;
    }

    @include mq("tablet-2") {
      grid-template-columns: repeat(3, auto);
      gap: 20px;
    }

    @include mq("tablet") {
      grid-template-columns: repeat(2, auto);
      justify-content: normal;
      gap: 0;
    }

    @include mq("phone") {
      grid-template-columns: auto;
      order: 1;
    }
  }

  &__menu-item {
    display: flex;
    align-items: center;

    @include mq("tablet-2") {
      display: flex;
      align-items: center;
    }
  }

  &__menu-link {
    display: block;
    font-size: 18px;
    letter-spacing: 0.01em;

    @include mq("tablet-2") {
      font-size: 16px;
      white-space: nowrap;
    }

    @include mq("tablet") {
      padding: 12px 0;
      font-size: 16px;
      white-space: nowrap;
    }

    @include mq("phone") {
      padding: 10px 0;
      font-size: 18px;
    }
  }

  &__contacts-info {
    @include mq("desktop") {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      .contact-info {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        width: 100%;
        margin-bottom: 0;

        &__item {
          margin-bottom: 0;
        }
      }
    }

    @include mq("tablet-2") {
      flex-direction: column;
      grid-column: span 2;
      gap: 20px;

      .contact-info {
        justify-content: center;
        gap: 50px;
      }
    }

    @include mq("tablet") {
      .contact-info {
        &__link {
          font-size: 14px;
        }
      }
    }

    @include mq("phone") {
      display: block;
      grid-column: 1;

      .contact-info {
        flex-direction: column;
        gap: 3px;
        margin-bottom: 9px;

        &__link {
          font-size: 16px;
        }
      }
    }
  }

  &__bottom {
    border-top: 1px solid rgba($decor-color-1, 0.2);
  }

  &__copy {
    padding: 30px 0;
    font-size: 14px;
    line-height: 1;
    text-align: center;

    @include mq("phone") {
      padding: 20px 0;
    }
  }
}
