@import "logo";
@import "menu";
@import "mobile-menu";

.header {
  padding-top: 159px;

  @include mq("desktop") {
    padding-top: 138px;
  }

  @include mq("tablet-2") {
    padding-top: 124px;
  }

  @include mq("tablet") {
    padding-top: 94px;
  }

  @include mq("phone") {
    padding-top: 72px;
  }

  &__inner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 57px 0;
    transition: box-shadow 0.3s linear, padding 0.3s linear;

    @include mq("desktop") {
      padding: 47px 0;
    }

    @include mq("tablet-2") {
      padding: 40px 0;
    }

    @include mq("tablet") {
      padding: 25px 0;
    }

    @include mq("phone") {
      padding: 14px 0;
    }

    &--mini {
      padding: 20px 0;
      box-shadow: 0 0 20px 5px rgba($accent-color, 0.5);
      background-color: rgba(249, 250, 255, 0.5);
      backdrop-filter: blur(20px);

      @include mq("phone") {
        padding: 14px 0;
      }
    }
  }

  &__link {
    display: block;
    font-size: 18px;
    line-height: 1.2;

    &--active {
      color: $accent-color;
    }

    @include mq("tablet") {
      padding: 11px 0;
    }
  }
}
