.interest {
  &__title-wrap {
    @extend %flex-between;
    margin-bottom: 60px;

    @include mq("tablet-2") {
      margin-bottom: 50px;
    }

    @include mq("tablet") {
      margin-bottom: 40px;
    }

    @include mq("phone") {
      margin-bottom: 30px;
    }
  }

  &__title {
    text-align: left;
    margin-bottom: 0;
  }

  &__slider {
    display: block;

    @include mq("tablet") {
      margin-bottom: 30px;
    }
  }

  &__slider-nav {
    display: flex;
    gap: 25px;

    @include mq("desktop") {
      gap: 20px;
    }

    @include mq("tablet-2") {
      gap: 15px;
    }
  }

  // Я так и не поняла, как сделать, чтобы отступы не мешали ширине карточке занять всё простанство

  .slick-track {
    display: flex;
    gap: 30px;

    @include mq("desktop") {
      gap: 20px;
    }

    @include mq("tablet-2") {
      gap: 15px;
    }

    @include mq("phone") {
      gap: 5px;
    }
  }

  .slick-slide {
    padding: 1px;
  }
}
