.logo {
  display: flex;
  @extend %style-focus;
  transition: box-shadow 0.3s linear, opacity 0.3s linear;

  &__img {
    margin: auto;
    width: 200px;
    height: 39px;
    object-fit: contain;
  }

  &:active {
    opacity: 0.5;
  }

  @include mq("phone") {
    &.header__logo {
      .logo__img {
        width: 115px;
        height: 23px;
      }
    }
  }
}
