.menu {
  @extend %flex-between;

  @include mq("tablet") {
    align-items: stretch;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: 45px;
    margin-right: 50px;

    @include mq("tablet-2") {
      gap: 40px;
      margin-right: 40px;
    }

    @include mq("tablet") {
      display: none;
    }
  }
}
