.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  display: block;
  width: 350px;
  height: 100vh;
  padding: 23px 0 25px;
  overflow-y: auto;
  background-color: $btn-inner-color;
  transform: translateX(-150%);
  transition: transform 0.4s ease-in;

  @include mq("tablet") {
    &.active {
      transform: translateX(0);
    }
  }

  @include mq("phone") {
    width: 300px;
  }

  &__logo-wrap {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 13px 23px 15px;
    border-bottom: 1px solid #eeeff3;
  }

  &__list {
    padding: 14px 25px 14px 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeff3;
  }

  &__contacts-info {
    padding: 0 25px 0 15px;

    @include mq("tablet") {
      .contact-info {
        &__item {
          margin-bottom: 3px;

          &:last-child {
            margin-bottom: 9px;
          }
        }
      }
    }
  }
}
