.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 80%;
  height: 100vh;
  padding: 23px 0 25px;
  overflow-y: auto;
  background-color: $btn-inner-color;
  transform: translateX(-150%);
  transition: transform 0.4s ease-in;

  @include mq("tablet") {
    display: block;

    &.active {
      transform: translateX(0);
    }
  }

  &__logo-wrap {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 25px 23px 15px;
    border-bottom: 1px solid #eeeff3;
  }

  &__btn-close {
    padding: 13px;
  }

  &__btn-icon {
    width: 18px;
    height: 18px;
    fill: $main-color;

    &:active {
      fill: $accent-color;
    }
  }

  &__list {
    padding: 14px 25px 14px 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeff3;
  }

  &__item {
    padding: 11px 0;
  }

  &__contacts-info {
    padding: 0 25px 0 15px;

    @include mq("tablet") {
      .contact-info {
        &__item {
          margin-bottom: 3px;

          &:last-child {
            margin-bottom: 9px;
          }
        }
      }
    }
  }
}
