.offers-filter {
  &__label {
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    transition: color 0.3s linear;

    &:hover {
      color: $accent-color;
    }
  }

  &__input,
  &__checkbox {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked + .offers-filter__checkbox {
      border-color: $main-color;

      &::before {
        opacity: 1;
      }
    }
  }

  &__checkbox {
    width: 24px;
    height: 24px;
    transition: border-color 0.3s linear;

    // не нашла другого способа вставить галочку, чтобы можно было изменить цвет галочки( Уже проще было бы просто вставиь иконку, но так тоже не очень если есть спрайт, так?
    &::before {
      @include pseudo;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 9px;
      transform: translate(-50%, -50%);
      background-image: url("../images/sprite.svg#check-icon");
      @include bg-image(cover);
      filter: invert(19%) sepia(14%) saturate(1627%) hue-rotate(198deg)
        brightness(91%) contrast(84%);
      opacity: 0;
      transition: opacity 0.3s linear, filter 0.3s linear;
    }
  }
}
