@import "categories-filter";
@import "food-list";

.popular {
  &__title {
    margin-bottom: 60px;
  }

  &__swiper {
    padding: 2px 2px 0;
  }

  &__categories-filter {
    display: flex;
    margin-bottom: 45px;
    color: $main-color;
  }

  &__food-list {
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-bottom: 60px;
  }

  .mixitup-control-active {
    color: $btn-inner-color;
    background-color: $accent-color;
    box-shadow: transparent;

    .categories-filter__icon {
      filter: invert(100%) sepia(8%) saturate(7488%) hue-rotate(261deg)
        brightness(112%) contrast(107%);
    }
  }

  &__category-btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 22px 32px 22px 86px;
    @extend %decor-border-bg;
    transition: color 0.3s linear, background-color 0.3s linear,
      box-shadow 0.3s linear;

    &:active {
      color: $main-color;
      background-color: $btn-inner-color;
      box-shadow: inset 0 -5px 12px 0 rgba(255, 104, 56, 0.2);
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
    color: $main-color;
    text-decoration: underline;
    text-decoration-skip-ink: none;

    &:active {
      color: $main-color;
    }
  }
}
