.promotions {
  &__restaurants-list {
    @include mq("phone") {
      margin-bottom: 45px;
    }
  }

  &__title {
    text-align: left;

    @include mq("tablet-2") {
      text-align: center;
    }

    @include mq("phone") {
      margin-bottom: 40px;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.3;
    @include line-clamp(2);
  }

  .restaurant-card__inner {
    padding-bottom: 15px;
  }
}
