.promotions {
  &__section {
    padding-bottom: 45px;
  }

  &__restaurants-list {
    @include mq("phone") {
      margin-bottom: 45px;
    }
  }

  &__title {
    text-align: left;

    @include mq("tablet-2") {
      text-align: center;
    }

    @include mq("phone") {
      margin-bottom: 40px;
    }
  }

  .restaurant-card {
    &__inner {
      padding-bottom: 15px;
    }

    &__subtitle {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
    }
  }
}
