.quantity-form {
  display: flex;
  gap: 20px;
  @include icon-btn(cart);

  &__inner {
    display: flex;
  }

  &__input {
    width: 70px;
    border-radius: 0;
    transition: border-color 0.3s linear;
  }

  &__action-btn {
    padding-left: 12px;
    padding-right: 12px;

    &--prev {
      border-radius: 3px 0 0 3px;
    }

    &--next {
      border-radius: 0 3px 3px 0;
    }

    &--no-active {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &__action-icon {
    width: 20px;
    height: 20px;
    fill: $btn-inner-color;
    pointer-events: none;
    transition: fill 0.3s linear;
  }

  &__form-btn {
    &--no-active {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &__btn-icon {
    fill: none;
    stroke: $btn-inner-color;
    stroke-width: 1.5;
    transition: stroke 0.3s linear;
  }
}
