.reviews {
  &__content {
    @extend %flex-center;
    gap: 0 40px;
    margin: 0 auto 58px;
  }

  &__photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  &__inner {
    padding: 0 40px;
  }

  &__text {
    position: relative;
    max-width: 570px;
    margin-bottom: 30px;
    font-style: italic;

    &::before,
    &::after {
      @include pseudo;
      width: 24px;
      height: 20px;
      background-image: url("../images/sprite.svg#quotes-icon");
      @include bg-image(contain);
      filter: invert(73%) sepia(0%) saturate(17%) hue-rotate(177deg)
        brightness(107%) contrast(95%);
    }

    &::before {
      left: -40px;
    }

    &::after {
      bottom: 0;
      right: -40px;
      transform: scaleX(-1);
    }
  }

  &__author {
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 1.3;
    color: $accent-color;
  }

  &__author-desc {
    display: block;
    font-size: 14px;
    line-height: 1.3;
  }

  &__nav-block {
    @extend %flex-center;
    gap: 20px;
  }

  &__btn {
    font-size: 0;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 3px solid $decor-color-1;
    transition: background-color 0.3s linear, border 0.3s linear,
      box-shadow 0.3s linear;

    &--next {
      order: 1;
    }

    &--active {
      border: 3px solid $accent-color;
      background-color: transparent;

      .reviews__arrow {
        fill: $accent-color;
      }
    }

    &:active {
      background-color: $action-color-2;
      border-color: transparent;
      box-shadow: none;

      .reviews__arrow {
        fill: $fill-color;
      }
    }
  }

  &__arrow {
    width: 11px;
    height: 19px;
    fill: $decor-color-1;
    transition: fill 0.3s linear;

    &--next {
      transform: scaleX(-1);
    }
  }

  &__slider-dots {
    display: flex;
    justify-content: center;
    gap: 15px;

    .slick-active {
      button {
        background-color: $accent-color;
      }
    }

    button {
      display: block;
      font-size: 0;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: $decor-color-1;
      cursor: pointer;
      transition: box-shadow 0.3s linear, background-color 0.3s linear;
    }
  }
}
