.subscrip-form {
  display: flex;
  flex-direction: column;

  &__input {
    padding: 12px 14px;
    margin-bottom: 12px;
    font-size: 14px;
    border: 1px solid $decor-color-1;
    @extend %style-focus;
    transition: border 0.3s linear, box-shadow 0.3s linear;

    &::placeholder {
      color: $decor-color-1;
      transition: color 0.3s linear;
    }
  }

  @include icon-btn(subscrip);
}
