.subscrip-form {
  display: flex;
  flex-direction: column;

  &__input {
    width: 200px;
    padding: 12px 14px;
    margin-bottom: 12px;
    font-size: 14px;

    &::placeholder {
      color: $decor-color-1;
    }
  }

  &__btn-icon {
    fill: $btn-inner-color;
    transition: fill 0.3s linear;
  }
}
