<section class="apps section">
  <div class="container">
    <div class="apps__inner">
      <div class="apps__content">
        <h2 class="apps__title title">Скачайте мобильное приложение</h2>
        <p class="apps__text">
          Рестораны, которые вы любите - в ваших руках. Устанавливайте
          приложение и заказывайте еду в любом удобном месте.
        </p>
        <ul class="apps__list">
          <li class="apps__item">
            <a
              class="apps__link"
              href="#"
              rel="noopener noreferrer"
              target="_blank"
            >
              <img
                class="apps__img"
                src="images/content/apps/app-store.svg"
                width="120"
                height="40"
                alt="App Store"
              />
            </a>
          </li>
          <li class="apps__item">
            <a
              class="apps__link"
              href="#"
              rel="noopener noreferrer"
              target="_blank"
            >
              <img
                class="apps__img"
                src="images/content/apps/google-play.svg"
                width="135"
                height="40"
                alt="Google Play"
              />
            </a>
          </li>
        </ul>
      </div>
      <div
        class="apps__decor"
        style="background-image: url('images/content/bg-app.jpg')"
      ></div>
    </div>
  </div>
</section>
