<div class="breadcrumbs">
  <div class="container">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Каталог товаров</a>
      </li>
    </ul>
  </div>
</div>
<section class="dishes section">
  <div class="container">
    <div class="dishes__top">
      <h1 class="dishes__title title">Каталог продуктов</h1>
      <div class="dishes__top-inner">
        <button class="filter-btn" type="button" aria-label="Фильтры">
          <svg class="filter-btn__icon">
            <use xlink:href="images/sprite.svg#filter-icon"></use>
          </svg>
        </button>
        <form class="dishes__sort-filter sort-filter" name="sort-filter" action="#">
          <select class="sort-filter__select sort-filter__select--by-name">
            <option class="sort-filter__option" value="">По названию</option>
            <option class="sort-filter__option" value="">По стоимости</option>
            <option class="sort-filter__option" value="">По популярности</option>
          </select>
          <select class="sort-filter__select sort-filter__select--by-quantity">
            <option class="sort-filter__option" value="10">по 10</option>
            <option class="sort-filter__option" value="12" selected>по 12</option>
            <option class="sort-filter__option" value="16">по 16</option>
          </select>
        </form>
      </div>
    </div>
    <div class="dishes__content">
      <div class="dishes__filters filters">
        <button 
          class="filters__close-btn close-btn" 
          type="button" 
          aria-label="Закрыть">
          <svg class="close-btn__icon">
            <use xlink:href="images/sprite.svg#cross-icon"></use>
          </svg>
        </button>
        <div class="filters__inner">
          <div class="filters__box">
            <h2 class="filters__subtitle subtitle">Категории</h2>
            <ul class="filters__list categories-filter">
              <li class="filters__item categories-filter__item">
                <a class="categories-filter__event link-status" href="#">
                  Бургеры
                </a>
              </li>
              <li class="filters__item categories-filter__item">
                <a class="categories-filter__event link-status" href="#">
                  Пицца
                </a>
              </li>
              <li class="filters__item categories-filter__item">
                <a class="categories-filter__event link-status" href="#">
                  Сендвичи
                </a>
              </li>
              <li class="filters__item categories-filter__item">
                <a class="categories-filter__event link-status" href="#">
                  Азиатская кухня
                </a>
              </li>
              <li class="filters__item categories-filter__item">
                <a class="categories-filter__event link-status" href="#">
                  Cеты
                </a>
              </li>
              <li class="filters__item categories-filter__item">
                <a class="categories-filter__event link-status" href="#">
                  Европейская кухня
                </a>
              </li>
              <li class="filters__item categories-filter__item">
                <a class="categories-filter__event link-status" href="#">
                  Напитки
                </a>
              </li>
              <li class="filters__item categories-filter__item">
                <a class="categories-filter__event link-status" href="#">
                  Алкоголь
                </a>
              </li>
            </ul>
          </div>
          <div class="filters__box">
            <h2 class="filters__subtitle subtitle">Предложения</h2>
            <form class="filters__form offers-filter" action="#" name="offers-form" method="GET">
              <div class="filters__item offers-filter__item">
                <label class="offers-filter__label checkbox-label">
                  <input class="offers-filter__input checkbox" type="checkbox" name="discount">
                  <span class="offers-filter__checkbox input-bg fake-checkbox"></span>
                  Со скидкой
                </label>
              </div>
              <div class="filters__item offers-filter__item">
                <label class="offers-filter__label checkbox-label">
                  <input class="offers-filter__input checkbox" type="checkbox" name="news">
                  <span class="offers-filter__checkbox input-bg fake-checkbox"></span>
                  Новинка
                </label>
              </div>
              <div class="filters__item offers-filter__item">
                <label class="offers-filter__label checkbox-label">
                  <input class="offers-filter__input checkbox" type="checkbox" name="hits">
                  <span class="offers-filter__checkbox input-bg fake-checkbox"></span>
                  Хит
                </label>
              </div>
            </form>
          </div>
          <div class="filters__box">
            <h2 class="filters__subtitle subtitle">Цена</h2>
            <form class="filters__form price-filter" action="#" name="price-form" method="GET">
              <div class="price-filter__wrap">
                <label class="price-filter__label">от
                  <input 
                    class="price-filter__input price-filter__input--from input-bg input-text " 
                    type="text" 
                    name="price-from"
                    id="price-from"
                    value="100"
                  >
                  <span class="price-filter__currency">₴</span>
                </label>
                <label class="price-filter__label">до
                  <input 
                  class="price-filter__input price-filter__input--to input-bg input-text " 
                  type="text" 
                  name="price-to"
                  value="1000"
                  >
                  <span class="price-filter__currency">₴</span>
                </label>
              </div>
              <input 
                class="price-filter__range" 
                id="price"
                value=""
                type="text" 
                name="my_range" 
                data-min="50"
                data-max="1150"
                data-from="100"
                data-to="1000"
              >
            </form>
          </div>
        </div>
      </div>
      <div class="dishes__food-wrap">
        <ul class="dishes__food-list food-list">
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "lettuce-burger",
              "productName": "Чизбургер с листьями салата", 
              "productLink": "product.html",
              "productPrice" : "160", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "beefburger",
              "productName": "Бифбургер", 
              "productLink": "#",
              "productPrice" : "190", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "king-burger",
              "productName": "Королевский чизбургер", 
              "productLink": "#",
              "productPrice" : "260", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "black-burger",
              "productName": "Черный гамбургер", 
              "productLink": "#",
              "productPrice" : "199", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "lettuce-burger",
              "productName": "Чизбургер с листьями салата", 
              "productLink": "product.html",
              "productPrice" : "160", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "beefburger",
              "productName": "Бифбургер", 
              "productLink": "#",
              "productPrice" : "190", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "king-burger",
              "productName": "Королевский чизбургер", 
              "productLink": "#",
              "productPrice" : "260", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "black-burger",
              "productName": "Черный гамбургер", 
              "productLink": "#",
              "productPrice" : "199", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "lettuce-burger",
              "productName": "Чизбургер с листьями салата", 
              "productLink": "product.html",
              "productPrice" : "160", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "beefburger",
              "productName": "Бифбургер", 
              "productLink": "#",
              "productPrice" : "190", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "king-burger",
              "productName": "Королевский чизбургер", 
              "productLink": "#",
              "productPrice" : "260", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "black-burger",
              "productName": "Черный гамбургер", 
              "productLink": "#",
              "productPrice" : "199", 
            })
          </li>          
        </ul>
        <div class="pagination">
          <a class="pagination__nav pagination__btn pagination__nav--no-active input-bg" href="#" aria-label="Влево">
            <svg class="pagination__arrow pagination__arrow--prev">
              <use href="images/sprite.svg#nav-chevron-icon"></use>
            </svg>
          </a>
          <ul class="pagination__list">
            <li class="pagination__item">
              <span class="pagination__btn pagination__btn--active input-bg input-text">1</span>
            </li>
            <li class="pagination__item">
              <a 
                class="pagination__btn input-bg input-text"
                href="#" 
                aria-label="Еще странички"
              >
              2
              </a>
            </li>
            <li class="pagination__item">
              <span class="pagination__btn input-bg input-text">...</span>
            </li>
            <li class="pagination__item">
              <a 
                class="pagination__btn input-bg input-text"
                href="#"
                aria-label="Страничка №9"
              >
              9
              </a>
            </li>
            <li class="pagination__item">
              <a 
                class="pagination__btn input-bg input-text"
                href="#"
                aria-label="Страничка №10"
              >
              10
              </a>
            </li>
          </ul>
          <a class="pagination__nav pagination__btn input-bg" href="#" aria-label="Вправо">
            <svg class="pagination__arrow pagination__arrow--next">
              <use href="images/sprite.svg#nav-chevron-icon"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
