<section class="breadcrumbs">
  <div class="container">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="catalog.html">Каталог товаров</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Чизбургер с листьями салата</a>
      </li>
    </ul>
  </div>
</section>
<section class="dish-card section">
  <div class="container">
    <div class="dish-card__wrap">
      <div class="dish-card__popup">
        <button class="dish-card__close-btn close-btn">
          <svg class="close-btn__icon">
            <use xlink:href="images/sprite.svg#cross-icon"></use>
          </svg>
        </button>
        <div class="dish-card__swiper swiper">
          <button class="swiper-button-prev"></button>
          <ul class="dish-card__swiper-wrapper swiper-wrapper">
            <li class="dish-card__swiper-slide swiper-slide">
              <img
                class="dish-card__image"
                src="images/content/products/lettuce-burger/1.png"
                alt="Чизбургер с листьями салата - фото №1"
              />
            </li>
            <li class="dish-card__swiper-slide swiper-slide">
              <img
                class="dish-card__image"
                src="images/content/products/lettuce-burger/2.png"
                alt="Чизбургер с листьями салата - фото №2"
              />
            </li>
            <li class="dish-card__swiper-slide swiper-slide">
              <img
                class="dish-card__image"
                src="images/content/products/lettuce-burger/3.png"
                alt="Чизбургер с листьями салата - фото №3"
              />
            </li>
          </ul>
          <button class="swiper-button-next"></button>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="dish-card__brief-info">
        <h1 class="dish-card__title title">Чизбургер с листьями салата</h1>
        <div class="dish-card__rating rating" data-rateyo-rating="5"></div>
        <span class="dish-card__price"
          >160 <span class="dish-card__currency">грн</span></span
        >
        @include("parts/_quantity-form.html", { "elemClass":
        "dish-card__quantity-form" })

        <h2 class="dish-card__subtitle subtitle">Доставка и оплата</h2>
        <ul class="dish-card__descr-list">
          <li class="dish-card__descr-item">
            Минимальная сумма заказа — 160 грн.
          </li>
          <li class="dish-card__descr-item">
            Время доставки заказа — 80-140 мин.
          </li>
          <li class="dish-card__descr-item">
            Оплата осуществляется только банковской картой.
          </li>
          <li class="dish-card__descr-item">
            Окончательная сумма заказа формируется после сбора товаров.
          </li>
        </ul>
        <button class="dish-card__list-btn details-btn link-status">
          Подробнее
        </button>
      </div>
    </div>
  </div>
  <div class="dish-card__info">
    <div class="container">
      <div class="dish-card__tabs tabs">
        <div class="tabs__swiper swiper">
          <ul class="tabs__list swiper-wrapper">
            <li class="tabs__item swiper-slide">
              <a
                class="tabs__link tabs__link--description tabs__link--active"
                href="#description"
              >
                <h2 class="tabs__name subtitle">Описание</h2>
              </a>
            </li>
            <li class="tabs__item swiper-slide">
              <a class="tabs__link tabs__link--charact" href="#parameters">
                <h2 class="tabs__name subtitle">Характеристики</h2>
              </a>
            </li>
            <li class="tabs__item swiper-slide">
              <a class="tabs__link tabs__link--reviews" href="#reviews">
                <h2 class="tabs__name subtitle">Отзывы (2)</h2>
              </a>
            </li>
          </ul>
        </div>
        <div class="tabs__content">
          <div
            class="tabs__content-item tabs__content-item--active"
            id="description"
          >
            <ul class="dish-description">
              <li class="dish-description__item">
                Рубленый бифштекс из натуральной говядины на карамелизованной
                булочке, с ломтиком сыра «Чеддер», кетчупом, горчицей, луком
                и маринованными огурчиками.
              </li>
              <li class="dish-description__item">
                Аллергены: Глютен, Молоко, Горчица, Может содержать сою, яйцо,
                следы кунжута
              </li>
              <li class="dish-description__item">
                Внешний вид товара может отличаться от изображений,
                представленных на сайте.
              </li>
            </ul>
          </div>
          <div class="tabs__content-item" id="parameters">
            <ul class="tabs__dish-parameters dish-parameters">
              <li class="dish-parameters__item">
                Диаметр:
                <span class="dish-parameters__span">20 см</span>
              </li>
              <li class="dish-parameters__item">
                Вес:
                <span class="dish-parameters__span">300 гр</span>
              </li>
              <li class="dish-parameters__item">
                Калорийность (на 100г):
                <span class="dish-parameters__span"> 295 ккал</span>
              </li>
              <li class="dish-parameters__item">
                Срок хранения:
                <span class="dish-parameters__span">до 3 дней</span>
              </li>
            </ul>
          </div>
          <div class="tabs__content-item" id="reviews">
            <h3 class="tabs__title">Мнения наших клиентов</h3>
            <ul class="tabs__dish-reviews dish-reviews">
              <li class="dish-reviews__item">
                <figure class="comment">
                  <div class="comment__top">
                    <img
                      class="comment__avatar"
                      src="images/content/no-avatar.jpg"
                      alt="Аватар Андрея"
                    />
                    <div class="comment__info">
                      <figcaption class="comment__name">Андрей</figcaption>
                      <span class="comment__date">10.06.2021</span>
                    </div>
                    <div
                      class="comment__rating rating"
                      data-rateyo-rating="5"
                    ></div>
                  </div>
                  <blockquote class="comment__text">
                    Доставили быстро. Товар свежий и очень вкусный, буду
                    пробовать еще!))
                  </blockquote>
                </figure>
              </li>
              <li class="dish-reviews__item">
                <figure class="comment">
                  <div class="comment__top">
                    <img
                      class="comment__avatar"
                      src="images/content/no-avatar.jpg"
                      alt="Аватар Андрея"
                    />
                    <div class="comment__info">
                      <figcaption class="comment__name">
                        Екатерина Белая
                      </figcaption>
                      <span class="comment__date">7.06.2021</span>
                    </div>
                    <div
                      class="comment__rating rating"
                      data-rateyo-rating="4"
                    ></div>
                  </div>
                  <blockquote class="comment__text">
                    этот бургер неплохой чтобы перекусить, когда нет возможности
                    или времени что-нибудь приготовить. Это отличный вариант,
                    чтобы съесть на ходу, но чтобы побаловать себя, я больше
                    предпочту пиццу
                  </blockquote>
                </figure>
              </li>
            </ul>
            <form
              class="tabs__add-review add-review"
              action="#"
              name="add-review-form"
            >
              <h3 class="tabs__title">Оставить отзыв</h3>
              <label class="add-review__label"
                >Ваша оценка *
                <div
                  class="add-review__rating rating"
                  data-rateyo-rating="0"
                  data-rateyo-read-only="false"
                  required
                ></div>
              </label>
              <div class="add-review__row">
                <div class="add-review__row-item add-review__row-item--review">
                  <label class="add-review__label" for="review"
                    >Ваш отзыв *
                  </label>
                  <textarea
                    class="add-review__input add-review__input--textarea input-style"
                    id="review"
                    name="review"
                    placeholder="Введите текст отзыва"
                    required
                  ></textarea>
                </div>
                <div class="add-review__row-item">
                  <label class="add-review__label"
                    >Имя
                    <input
                      class="add-review__input input-style"
                      type="text"
                      name="name"
                      placeholder="Введите ваше имя"
                    />
                  </label>
                  <label class="add-review__label"
                    >Email *
                    <input
                      class="add-review__input input-style"
                      type="email"
                      name="email"
                      placeholder="youremail@mail.com"
                      required
                    />
                  </label>
                </div>
              </div>
              <label
                class="add-review__label add-review__label--checkbox checkbox-label"
              >
                <input
                  class="add-review__checkbox checkbox"
                  type="checkbox"
                  name="save"
                  value="on"
                />
                <span
                  class="add-review__fake-checkbox input-style fake-checkbox"
                ></span>
                <p class="add-review__checkbox-text">
                  Сохранить моё имя, email и адрес сайта в этом браузере для
                  последующих моих комментариев.
                </p>
              </label>
              <button class="add-review__btn default-btn" type="submit">
                Оставить отзыв
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
