<section class="breadcrumbs">
  <div class="container">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Каталог товаров</a>
      </li>
    </ul>
  </div>
</section>
<section class="dishes section">
  <div class="container">
    <div class="dishes__top">
      <h1 class="dishes__title title">Каталог продуктов</h1>
      <form class="dishes__sort-filter sort-filter" name="sort-filter" action="#">
        <select class="sort-filter__select sort-filter__select--by-name">
          <option class="sort-filter__option" value="">По названию</option>
          <option class="sort-filter__option" value="">По стоимости</option>
          <option class="sort-filter__option" value="">По популярности</option>
        </select>
        <select class="sort-filter__select sort-filter__select--by-quantity">
          <option class="sort-filter__option" value="10">по 10</option>
          <option class="sort-filter__option" value="12">по 12</option>
          <option class="sort-filter__option" value="16">по 16</option>
        </select>
      </form>
    </div>
    <div class="dishes__inner">
      <ul class="dishes__filter-block">
        <li class="dishes__filter-item">
          <h2 class="dishes__subtitle subtitle">Категории</h2>
          <div class="dishes__filter-inner">
            <ul class="categories-filter">
              <li class="dishes__filter-line categories__item">
                <a class="categories-filter__event link-status" href="#">
                  Бургеры
                </a>
              </li>
              <li class="dishes__filter-line categories__item">
                <a class="categories-filter__event link-status" href="#">
                  Пицца
                </a>
              </li>
              <li class="dishes__filter-line categories__item">
                <a class="categories-filter__event link-status" href="#">
                  Сендвичи
                </a>
              </li>
              <li class="dishes__filter-line categories__item">
                <a class="categories-filter__event link-status" href="#">
                  Азиатская кухня
                </a>
              </li>
              <li class="dishes__filter-line categories__item">
                <a class="categories-filter__event link-status" href="#">
                  Cеты
                </a>
              </li>
              <li class="dishes__filter-line categories__item">
                <a class="categories-filter__event link-status" href="#">
                  Европейская кухня
                </a>
              </li>
              <li class="dishes__filter-line categories__item">
                <a class="categories-filter__event link-status" href="#">
                  Напитки
                </a>
              </li>
              <li class="dishes__filter-line categories__item">
                <a class="categories-filter__event link-status" href="#">
                  Алкоголь
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="dishes__filter-item">
          <h2 class="dishes__subtitle subtitle">Предложения</h2>
          <div class="dishes__filter-inner">
            <form class="offers-filter" action="#" name="offers-form" method="GET">
              <ul class="offers__list">
                <li class="dishes__filter-line offers__item">
                  <label class="offers-filter__label">
                    <input class="offers-filter__input" type="checkbox" name="discount">
                    <span class="offers-filter__checkbox input-bg input-status"></span>
                    Со скидкой
                  </label>
                </li>
                <li class="dishes__filter-line offers__item">
                  <label class="offers-filter__label">
                    <input class="offers-filter__input" type="checkbox" name="news">
                    <span class="offers-filter__checkbox input-bg input-status"></span>
                    Новинка
                  </label>
                </li>
                <li class="dishes__filter-line offers__item">
                  <label class="offers-filter__label">
                    <input class="offers-filter__input" type="checkbox" name="hits">
                    <span class="offers-filter__checkbox input-bg input-status"></span>
                    Хит
                  </label>
                </li>
              </ul>
          </form>
          </div>
        </li>
        <li class="dishes__filter-item">
          <h2 class="dishes__subtitle subtitle">Цена</h2>
          <div class="dishes__filter-inner">
            <form class="price-filter" action="#" name="price-form" method="GET">
              <div class="price-filter__wrap">
                <label class="price-filter__label">от
                  <input 
                    class="price-filter__input price-filter__input--from input-bg input-text " 
                    type="text" 
                    name="price-from"
                    id="price-from"
                    value="100"
                  >
                  <span class="price-filter__currency">₴</span>
                </label>
                <label class="price-filter__label">до
                  <input 
                  class="price-filter__input price-filter__input--to input-bg input-text " 
                  type="text" 
                  name="price-to"
                  value="1000"
                  >
                  <span class="price-filter__currency">₴</span>
                </label>
              </div>
              <input 
                class="price-filter__range" 
                id="price"
                value=""
                type="text" 
                name="my_range" 
                data-min="50"
                data-max="1150"
                data-from="100"
                data-to="1000"
              >
            </form>
          </div>
        </li>
      </ul>
      <div class="dishes__content">
        <ul class="dishes__food-list food-list">
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "lettuce-burger",
              "productName": "Чизбургер с листьями салата", 
              "productLink": "product.html",
              "productPrice" : "160", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "beefburger",
              "productName": "Бифбургер", 
              "productLink": "#",
              "productPrice" : "190", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "king-burger",
              "productName": "Королевский чизбургер", 
              "productLink": "#",
              "productPrice" : "260", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "black-burger",
              "productName": "Черный гамбургер", 
              "productLink": "#",
              "productPrice" : "199", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "lettuce-burger",
              "productName": "Чизбургер с листьями салата", 
              "productLink": "product.html",
              "productPrice" : "160", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "beefburger",
              "productName": "Бифбургер", 
              "productLink": "#",
              "productPrice" : "190", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "king-burger",
              "productName": "Королевский чизбургер", 
              "productLink": "#",
              "productPrice" : "260", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "black-burger",
              "productName": "Черный гамбургер", 
              "productLink": "#",
              "productPrice" : "199", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "lettuce-burger",
              "productName": "Чизбургер с листьями салата", 
              "productLink": "product.html",
              "productPrice" : "160", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "beefburger",
              "productName": "Бифбургер", 
              "productLink": "#",
              "productPrice" : "190", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "king-burger",
              "productName": "Королевский чизбургер", 
              "productLink": "#",
              "productPrice" : "260", 
            })
          </li>
          <li class="food-list__item">
            @include("parts/_product-card.html", { 
              "nameImage": "black-burger",
              "productName": "Черный гамбургер", 
              "productLink": "#",
              "productPrice" : "199", 
            })
          </li>          
        </ul>
        <div class="pagination">
          <a class="pagination__nav pagination__link pagination__nav--no-active input-bg" href="#">
            <svg class="pagination__arrow pagination__arrow--prev">
              <use href="images/sprite.svg#nav-chevron-icon"></use>
            </svg>
          </a>
          <ul class="pagination__list">
            <li class="pagination__item">
              <a class="pagination__link pagination__link--active input-bg input-text" href="#">1</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link input-bg input-text" href="#">2</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link input-bg input-text" href="#">...</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link input-bg input-text" href="#">9</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link input-bg input-text" href="#">10</a>
            </li>
          </ul>
          <a class="pagination__nav pagination__link input-bg" href="#">
            <svg class="pagination__arrow pagination__arrow--next">
              <use href="images/sprite.svg#nav-chevron-icon"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
