<section class="info section">
  <div class="container">
    <div class="info__inner">
      <div
        class="info__decor"
        style="background-image: url('images/content/food-delivery.png')"
      ></div>
      <div class="info__content">
        <h2 class="title info__title">
          Оставайтесь дома,<br />
          а мы позаботимся о еде
        </h2>
        <p class="info__text">
          У нас есть вкусная еда и мы готовы доставить её к вам домой!
          Воспользуйтесь нашей доставкой прямо сейчас и получите скиидку!
        </p>
        <ul class="info__benefits">
          <li class="info__benefits-item info__benefits-item--delivery">
            Быстрая доставка за 15 минут
          </li>
          <li class="info__benefits-item info__benefits-item--courier">
            Вежливые курьеры
          </li>
          <li class="info__benefits-item info__benefits-item--restaurant">
            Более 500 заведений
          </li>
        </ul>
        <a
          class="info__benefits-link default-btn"
          href="#"
          rel="noopener noreferrer"
          target="_blank"
          >Подробнее</a
        >
      </div>
    </div>
  </div>
</section>
