<section class="popular section">
  <div class="container">
    <h2 class="title popular__title">Популярные категории</h2>
    <div class="popular__swiper swiper">
      <ul class="popular__categories-filter categories-filter swiper-wrapper">
        <li class="categories-filter__item swiper-slide">
          <button 
            class="popular__category-btn categories-filter__event" 
            type="button" 
            data-filter="all">
              <svg class="categories-filter__icon">
                <use xlink:href="images/sprite.svg#burger-icon"></use>
              </svg>              
            Бургеры
          </button>
        </li>
        <li class="categories-filter__item swiper-slide">
          <button 
            class="popular__category-btn categories-filter__event" 
            type="button" 
            data-filter=".category-a">
              <svg class="categories-filter__icon">
                <use xlink:href="images/sprite.svg#pizza-icon"></use>
              </svg>              
            Пицца
          </button>
        </li>
        <li class="categories-filter__item swiper-slide">
          <button 
            class="popular__category-btn categories-filter__event" 
            type="button" 
            data-filter=".category-b">
              <svg class="categories-filter__icon">
                <use xlink:href="images/sprite.svg#sandwich-icon"></use>
              </svg>              
            Сендвичи
          </button>
        </li>
        <li class="categories-filter__item swiper-slide">
          <button 
            class="popular__category-btn categories-filter__event" 
            type="button" 
            data-filter=".category-c">
              <svg class="categories-filter__icon">
                <use xlink:href="images/sprite.svg#asian-icon"></use>
              </svg>              
            Азиатская кухня
          </button>
        </li>
        <li class="categories-filter__item swiper-slide">
          <button 
            class="popular__category-btn categories-filter__event" 
            type="button" 
            data-filter=".category-d">
              <svg class="categories-filter__icon">
                <use xlink:href="images/sprite.svg#sets-icon"></use>
              </svg>              
            Cеты
          </button>
        </li>
        <li class="categories-filter__item swiper-slide">
          <button 
            class="popular__category-btn categories-filter__event" 
            type="button" 
            data-filter=".category-e">
              <svg class="categories-filter__icon">
                <use xlink:href="images/sprite.svg#sandwich-icon"></use>
              </svg>              
            Сендвичи
          </button>
        </li>
        <li class="categories-filter__item swiper-slide">
          <button 
            class="popular__category-btn categories-filter__event" 
            type="button" 
            data-filter=".category-f">
              <svg class="categories-filter__icon">
                <use xlink:href="images/sprite.svg#asian-icon"></use>
              </svg>              
            Азиатская кухня
          </button>
        </li>
        <li class="categories-filter__item swiper-slide">
          <button 
            class="popular__category-btn categories-filter__event" 
            type="button" 
            data-filter=".category-h">
              <svg class="categories-filter__icon">
                <use xlink:href="images/sprite.svg#sets-icon"></use>
              </svg>              
            Cеты
          </button>
        </li>
      </ul>
    </div>
    @include("parts/_food-list.html", {
    "elemClass": "popular__food-list"
    })    
    <button class="popular__btn link-status details-btn" type="button">Показать еще</button>
  </div>
</section>
