<section class="popular section">
  <div class="container">
    <h2 class="title popular__title">Популярные блюда</h2>
    <div class="popular__swiper swiper">
      <ul class="popular__categories-filter categories-filter swiper-wrapper"> 
        <!-- уже перед отправкой заметила косячок, что вконце слайдера последняя кнопка не хочет показываться. Уже не стала все менять, попробовала, но не вышло( -->
        <li class="categories-filter__item swiper-slide">
          <button 
            class="popular__category-btn categories-filter__event" 
            type="button" 
            data-filter="all">
              <span class="categories-filter__icon categories-filter__icon--burgers"></span>
            Бургеры
          </button>
        </li>
        <li class="categories-filter__item swiper-slide">
          <button 
            class="popular__category-btn categories-filter__event" 
            type="button" 
            data-filter=".category-a">
              <span class="categories-filter__icon categories-filter__icon--pizza"></span>
            Пицца
          </button>
        </li>
        <li class="categories-filter__item swiper-slide">
          <button 
            class="popular__category-btn categories-filter__event" 
            type="button" 
            data-filter=".category-b">
              <span class="categories-filter__icon categories-filter__icon--sandwiches"></span>
            Сендвичи
          </button>
        </li>
        <li class="categories-filter__item swiper-slide">
          <button 
            class="popular__category-btn categories-filter__event" 
            type="button" 
            data-filter=".category-c">
              <span class="categories-filter__icon categories-filter__icon--asian-food"></span>
            Азиатская кухня
          </button>
        </li>
        <li class="categories-filter__item swiper-slide">
          <button 
            class="popular__category-btn categories-filter__event" 
            type="button" 
            data-filter=".category-d">
              <span class="categories-filter__icon categories-filter__icon--sets"></span>
            Cеты
          </button>
        </li>
        <li class="categories-filter__item swiper-slide">
          <button 
            class="popular__category-btn categories-filter__event" 
            type="button" 
            data-filter=".category-e">
              <span class="categories-filter__icon categories-filter__icon--sandwiches"></span>
            Сендвичи
          </button>
        </li>
        <li class="categories-filter__item swiper-slide">
          <button 
            class="popular__category-btn categories-filter__event" 
            type="button" 
            data-filter=".category-f">
              <span class="categories-filter__icon categories-filter__icon--asian-food"></span>
            Азиатская кухня
          </button>
        </li>
        <li class="categories-filter__item swiper-slide">
          <button 
            class="popular__category-btn categories-filter__event" 
            type="button" 
            data-filter=".category-h">
              <span class="categories-filter__icon categories-filter__icon--sets"></span>
            Cеты
          </button>
        </li>
      </ul>
    </div>
    @include("parts/_food-list.html", {
    "elemClass": "popular__food-list"
    })    
    <button class="popular__btn link-status details-btn" type="button">Показать еще</button>
  </div>
</section>
