<section class="promotions section">
  <div class="container">
    <h2 class="promotions__title title">Акции и скидки</h2>
    <ul class="promotions__list restaurants-list">
      <li class="promotions__item">
        <a
          class="promotions__link"
          href="#"
          rel="noopener noreferrer"
          target="_blank"
          aria-label="Перейти в ресторан"
        >
          <article class="restaurant-card">
            <img
              class="restaurant-card__img"
              src="images/content/restaurants/blaze-pizza.jpg"
              alt="Blaze Pizza"
            />
            <div class="restaurant-card__inner">
              <p class="promotions__text">Скидка 50% на вторую пиццу</p>
            </div>
          </article>
        </a>
      </li>
      <li class="promotions__item">
        <a
          class="promotions__link"
          href="#"
          rel="noopener noreferrer"
          target="_blank"
          aria-label="Перейти в ресторан"
        >
          <article class="restaurant-card">
            <img
              class="restaurant-card__img"
              src="images/content/restaurants/kfc.jpg"
              alt="KFC"
            />
            <div class="restaurant-card__inner">
              <p class="promotions__text">
                Картошечка из KFC даром при заказе бургера
              </p>
            </div>
          </article>
        </a>
      </li>
      <li class="promotions__item">
        <a
          class="promotions__link"
          href="#"
          rel="noopener noreferrer"
          target="_blank"
          aria-label="Перейти в ресторан"
        >
          <article class="restaurant-card">
            <img
              class="restaurant-card__img"
              src="images/content/restaurants/star-burgers.jpg"
              alt="Star Burgers"
            />
            <div class="restaurant-card__inner">
              <p class="promotions__text">Чёрные бургеры на чёрный день</p>
            </div>
          </article>
        </a>
      </li>
    </ul>
  </div>
</section>
