<section class="promotions section section--swiper">
  <div class="container">
    <h2 class="promotions__title title">Акции и скидки</h2>
    <div class="promotions__swiper swiper">
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Кнопка 'Влево'"
      ></button>
      <ul class="promotions__restaurants-list restaurants-list swiper-wrapper">
        <li class="restaurants-list__item swiper-slide">
          <a class="promotions__link" href="#" aria-label="Перейти в ресторан">
            <article class="restaurant-card">
              <img
                class="restaurant-card__img"
                src="images/content/restaurants/blaze-pizza.jpg"
                width="370"
                height="300"
                alt="Blaze Pizza"
              />
              <div class="restaurant-card__inner">
                <h3 class="restaurant-card__subtitle">
                  Скидка 50% на вторую пиццу
                </h3>
              </div>
            </article>
          </a>
        </li>
        <li class="restaurants-list__item swiper-slide">
          <a class="promotions__link" href="#" aria-label="Перейти в ресторан">
            <article class="restaurant-card">
              <img
                class="restaurant-card__img"
                src="images/content/restaurants/kfc.jpg"
                width="370"
                height="300"
                alt="KFC"
              />
              <div class="restaurant-card__inner">
                <h3 class="restaurant-card__subtitle">
                  Картошечка из KFC даром при заказе бургера
                </h3>
              </div>
            </article>
          </a>
        </li>
        <li class="restaurants-list__item swiper-slide">
          <a class="promotions__link" href="#" aria-label="Перейти в ресторан">
            <article class="restaurant-card">
              <img
                class="restaurant-card__img"
                src="images/content/restaurants/star-burgers.jpg"
                width="370"
                height="300"
                alt="Star Burgers"
              />
              <div class="restaurant-card__inner">
                <h3 class="restaurant-card__subtitle">
                  Чёрные бургеры на чёрный день
                </h3>
              </div>
            </article>
          </a>
        </li>
      </ul>
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Кнопка 'Вправо'"
      ></button>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
