<section class="restaurants section">
  <div class="container">
    <h2 class="title">Лучшие рестораны</h2>
    <ul class="restaurants__list">
      <li class="restaurants__item">
        <article class="restaurant-card">
          <img
            class="restaurant-card__img"
            src="images/content/restaurants/blaze-pizza.jpg"
            alt="Blaze Pizza"
          />
          <div class="restaurant-card__inner">
            <h3 class="restaurant-card__name">Blaze Pizza</h3>
            <div class="restaurant-card__wrap">
              <span class="restaurant-card__hours">11:00 - 22:00</span>
              <a
                class="restaurant-card__link default-btn"
                href="#"
                rel="noopener noreferrer"
                target="_blank"
                aria-label="Перейти в ресторан"
              >
                <svg class="restaurant-card__link-icon">
                  <use xlink:href="images/sprite.svg#arrow-icon"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurant-card">
          <img
            class="restaurant-card__img"
            src="images/content/restaurants/pizza-runcho.jpg"
            alt="Pizza Runcho"
          />
          <div class="restaurant-card__inner">
            <h3 class="restaurant-card__name">Pizza Runcho</h3>
            <div class="restaurant-card__wrap">
              <span class="restaurant-card__hours">12:00 - 21:00</span>
              <a
                class="restaurant-card__link default-btn"
                href="#"
                rel="noopener noreferrer"
                target="_blank"
                aria-label="Перейти в ресторан"
              >
                <svg class="restaurant-card__link-icon">
                  <use xlink:href="images/sprite.svg#arrow-icon"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurant-card">
          <img
            class="restaurant-card__img"
            src="images/content/restaurants/pizza-hut.jpg"
            alt="Pizza Hut"
          />
          <div class="restaurant-card__inner">
            <h3 class="restaurant-card__name">Pizza Hut</h3>
            <div class="restaurant-card__wrap">
              <span class="restaurant-card__hours">11:00 - 22:00</span>
              <a
                class="restaurant-card__link default-btn"
                href="#"
                rel="noopener noreferrer"
                target="_blank"
                aria-label="Перейти в ресторан"
              >
                <svg class="restaurant-card__link-icon">
                  <use xlink:href="images/sprite.svg#arrow-icon"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurant-card">
          <img
            class="restaurant-card__img"
            src="images/content/restaurants/mcdonalds.jpg"
            alt="McDonald`s"
          />
          <div class="restaurant-card__inner">
            <h3 class="restaurant-card__name">McDonald`s</h3>
            <div class="restaurant-card__wrap">
              <span class="restaurant-card__hours">06:00 - 23:00</span>
              <a
                class="restaurant-card__link default-btn"
                href="#"
                rel="noopener noreferrer"
                target="_blank"
                aria-label="Перейти в ресторан"
              >
                <svg class="restaurant-card__link-icon">
                  <use xlink:href="images/sprite.svg#arrow-icon"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurant-card">
          <img
            class="restaurant-card__img"
            src="images/content/restaurants/kfc.jpg"
            alt="KFC"
          />
          <div class="restaurant-card__inner">
            <h3 class="restaurant-card__name">KFC</h3>
            <div class="restaurant-card__wrap">
              <span class="restaurant-card__hours">06:00 - 23:30</span>
              <a
                class="restaurant-card__link default-btn"
                href="#"
                rel="noopener noreferrer"
                target="_blank"
                aria-label="Перейти в ресторан"
              >
                <svg class="restaurant-card__link-icon">
                  <use xlink:href="images/sprite.svg#arrow-icon"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurant-card">
          <img
            class="restaurant-card__img"
            src="images/content/restaurants/star-burgers.jpg"
            alt="Star Burgers"
          />
          <div class="restaurant-card__inner">
            <h3 class="restaurant-card__name">Star Burgers</h3>
            <div class="restaurant-card__wrap">
              <span class="restaurant-card__hours">09:00 - 21:00</span>
              <a
                class="restaurant-card__link default-btn"
                href="#"
                rel="noopener noreferrer"
                target="_blank"
                aria-label="Перейти в ресторан"
              >
                <svg class="restaurant-card__link-icon">
                  <use xlink:href="images/sprite.svg#arrow-icon"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
