<section class="restaurants section section--swiper">
  <div class="container">
    <h2 class="title">Лучшие рестораны</h2>
    <div class="restaurants__swiper swiper">
      <button class="swiper-button-prev"></button>
      <ul class="restaurants-list swiper-wrapper">
        <li class="restaurants-list__item swiper-slide">
          <article class="restaurant-card">
            <img
              class="restaurant-card__img"
              src="images/content/restaurants/blaze-pizza.jpg"
              width="370"
              height="300"
              alt="Blaze Pizza"
            />
            <div class="restaurant-card__inner">
              <h3 class="restaurant-card__subtitle">Blaze Pizza</h3>
              <div class="restaurant-card__wrap">
                <p class="restaurant-card__hours-inner">
                  <time class="restaurant-card__hours" datetime="11:00"
                    >11:00</time
                  >
                  -
                  <time class="restaurant-card__hours" datetime="22:00"
                    >22:00</time
                  >
                </p>
                <a
                  class="restaurant-card__link default-btn"
                  href="#"
                  aria-label="Перейти в ресторан"
                >
                  <svg class="restaurant-card__link-icon">
                    <use xlink:href="images/sprite.svg#arrow-icon"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </li>
        <li class="restaurants-list__item swiper-slide">
          <article class="restaurant-card">
            <img
              class="restaurant-card__img"
              src="images/content/restaurants/pizza-runcho.jpg"
              width="370"
              height="300"
              alt="Pizza Runcho"
            />
            <div class="restaurant-card__inner">
              <h3 class="restaurant-card__subtitle">Pizza Runcho</h3>
              <div class="restaurant-card__wrap">
                <p class="restaurant-card__hours-inner">
                  <time class="restaurant-card__hours" datetime="12:00"
                    >12:00</time
                  >
                  -
                  <time class="restaurant-card__hours" datetime="21:00"
                    >21:00</time
                  >
                </p>
                <a
                  class="restaurant-card__link default-btn"
                  href="#"
                  aria-label="Перейти в ресторан"
                >
                  <svg class="restaurant-card__link-icon">
                    <use xlink:href="images/sprite.svg#arrow-icon"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </li>
        <li class="restaurants-list__item swiper-slide">
          <article class="restaurant-card">
            <img
              class="restaurant-card__img"
              src="images/content/restaurants/pizza-hut.jpg"
              width="370"
              height="300"
              alt="Pizza Hut"
            />
            <div class="restaurant-card__inner">
              <h3 class="restaurant-card__subtitle">Pizza Hut</h3>
              <div class="restaurant-card__wrap">
                <p class="restaurant-card__hours-inner">
                  <time class="restaurant-card__hours" datetime="11:00"
                    >11:00</time
                  >
                  -
                  <time class="restaurant-card__hours" datetime="22:00"
                    >22:00</time
                  >
                </p>
                <a
                  class="restaurant-card__link default-btn"
                  href="#"
                  aria-label="Перейти в ресторан"
                >
                  <svg class="restaurant-card__link-icon">
                    <use xlink:href="images/sprite.svg#arrow-icon"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </li>
        <li class="restaurants-list__item swiper-slide">
          <article class="restaurant-card">
            <img
              class="restaurant-card__img"
              src="images/content/restaurants/mcdonalds.jpg"
              width="370"
              height="300"
              alt="McDonald`s"
            />
            <div class="restaurant-card__inner">
              <h3 class="restaurant-card__subtitle">McDonald`s</h3>
              <div class="restaurant-card__wrap">
                <p class="restaurant-card__hours-inner">
                  <time class="restaurant-card__hours" datetime="06:00"
                    >06:00</time
                  >
                  -
                  <time class="restaurant-card__hours" datetime="23:00"
                    >23:00</time
                  >
                </p>
                <a
                  class="restaurant-card__link default-btn"
                  href="#"
                  aria-label="Перейти в ресторан"
                >
                  <svg class="restaurant-card__link-icon">
                    <use xlink:href="images/sprite.svg#arrow-icon"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </li>
        <li class="restaurants-list__item swiper-slide">
          <article class="restaurant-card">
            <img
              class="restaurant-card__img"
              src="images/content/restaurants/kfc.jpg"
              width="370"
              height="300"
              alt="KFC"
            />
            <div class="restaurant-card__inner">
              <h3 class="restaurant-card__subtitle">KFC</h3>
              <div class="restaurant-card__wrap">
                <p class="restaurant-card__hours-inner">
                  <time class="restaurant-card__hours" datetime="06:00"
                    >06:00</time
                  >
                  -
                  <time class="restaurant-card__hours" datetime="23:00"
                    >23:00</time
                  >
                </p>
                <a
                  class="restaurant-card__link default-btn"
                  href="#"
                  aria-label="Перейти в ресторан"
                >
                  <svg class="restaurant-card__link-icon">
                    <use xlink:href="images/sprite.svg#arrow-icon"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </li>
        <li class="restaurants-list__item swiper-slide">
          <article class="restaurant-card">
            <img
              class="restaurant-card__img"
              src="images/content/restaurants/star-burgers.jpg"
              width="370"
              height="300"
              alt="Star Burgers"
            />
            <div class="restaurant-card__inner">
              <h3 class="restaurant-card__subtitle">Star Burgers</h3>
              <div class="restaurant-card__wrap">
                <p class="restaurant-card__hours-inner">
                  <time class="restaurant-card__hours" datetime="09:00"
                    >09:00</time
                  >
                  -
                  <time class="restaurant-card__hours" datetime="21:00"
                    >21:00</time
                  >
                </p>
                <a
                  class="restaurant-card__link default-btn"
                  href="#"
                  aria-label="Перейти в ресторан"
                >
                  <svg class="restaurant-card__link-icon">
                    <use xlink:href="images/sprite.svg#arrow-icon"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </li>
      </ul>
      <button class="swiper-button-next"></button>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
