<section class="reviews section">
  <div class="container">
    <h2 class="title">Отзывы клиентов</h2>
    <div class="reviews__slider-box">
      <ul class="reviews__slider slider">
        <li class="reviews__item">
          <div class="reviews__content">
            <img
              class="reviews__photo"
              src="images/content/reviewers/daria.jpg"
              width="300"
              height="300"
              alt="Фото Дарьи"
            />
            <figure class="reviews__inner">
              <blockquote class="reviews__text">
                SimpleFood - одна из лучших служб доставки продуктов из
                ресторанов в городе. Очень удобный сайт и приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит
                акции и дарит скидки на доставку - однозначно рекомендую!
              </blockquote>
              <figcaption class="reviews__author">
                Дарья
                <span class="reviews__author-desc">Ценитель вкусной еды</span>
              </figcaption>
            </figure>
          </div>
        </li>
        <li class="reviews__item">
          <div class="reviews__content">
            <img
              class="reviews__photo"
              src="images/content/reviewers/daria.jpg"
              width="300"
              height="300"
              alt="Фото Дарьи"
            />
            <figure class="reviews__inner">
              <blockquote class="reviews__text">
                SimpleFood - одна из лучших служб доставки продуктов из
                ресторанов в городе. Очень удобный сайт и приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит
                акции и дарит скидки на доставку - однозначно рекомендую!
              </blockquote>
              <figcaption class="reviews__author">
                Дарья
                <span class="reviews__author-desc">Ценитель вкусной еды</span>
              </figcaption>
            </figure>
          </div>
        </li>
        <li class="reviews__item">
          <div class="reviews__content">
            <img
              class="reviews__photo"
              src="images/content/reviewers/daria.jpg"
              width="300"
              height="300"
              alt="Фото Дарьи"
            />
            <figure class="reviews__inner">
              <blockquote class="reviews__text">
                SimpleFood - одна из лучших служб доставки продуктов из
                ресторанов в городе. Очень удобный сайт и приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит
                акции и дарит скидки на доставку - однозначно рекомендую!
              </blockquote>
              <figcaption class="reviews__author">
                Дарья
                <span class="reviews__author-desc">Ценитель вкусной еды</span>
              </figcaption>
            </figure>
          </div>
        </li>
        <li class="reviews__item">
          <div class="reviews__content">
            <img
              class="reviews__photo"
              src="images/content/reviewers/daria.jpg"
              width="300"
              height="300"
              alt="Фото Дарьи"
            />
            <figure class="reviews__inner">
              <blockquote class="reviews__text">
                SimpleFood - одна из лучших служб доставки продуктов из
                ресторанов в городе. Очень удобный сайт и приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит
                акции и дарит скидки на доставку - однозначно рекомендую!
              </blockquote>
              <figcaption class="reviews__author">
                Дарья
                <span class="reviews__author-desc">Ценитель вкусной еды</span>
              </figcaption>
            </figure>
          </div>
        </li>
      </ul>
      <div class="reviews__slider-nav slider-nav"></div>
    </div>
  </div>
</section>
